<br> <br> 
<h2 class="h1">My book library</h2>

        {{#if errorMessage}}
    <br>
    <br>

  <span>Error!</span> {{errorMessage}}
  <br>
  <br>
    {{/if}}

<br> <br>

<div class="ml-6 grid grid-cols-5 gap-4">
{{#each allBooks}}
    {{> card}}
{{/each}}
</div>


{{#if userInSession}}
<p class="body">Can't see what you are looking for? create it!</p>
<a href="/newbook">create a book</a>
{{else}}
<p class="body">Can't see what you are looking for? Log-in and create it!</p>
{{/if}}