<br><br>

{{> searchbar}}

<br><br>

<h2 class="h1">Search results:</h2>

{{#each booksFound}}
    {{> card}}
{{/each}}

<br> <br>

{{#if userInSession}}
<p class="body">Can't see what you are looking for? create it!</p>
<a href="/newbook">create a book</a>
{{else}}
<p class="body">Can't see what you are looking for? Log-in and create it!</p>
{{/if}}