<br> <br>
<h1 class="h1">Add your favorite books here!</h1>


<div class="flex justify-center">
<form class="w-full max-w-sm" action="/newbook" method="POST">

<br>
  <div class="relative w-96">
    <label for="title" class="font-['Raleway-bold'] block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
    <input type="text" name="Title" placeholder="Harry Potter" class="font-['Raleway'] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required>
  </div>
  <br>
  <div class="relative w-96">
    <label for="author" class="font-['Raleway-bold'] block mb-2 text-sm font-medium text-gray-900 dark:text-white">Author</label>
    <input type="text" name="Author" placeholder="JK Rowling" class="font-['Raleway'] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
  </div>
  <br> 
  <div class="relative w-96">
    <label for="genre" class="font-['Raleway-bold'] block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genre</label>
    <input type="text" name="Genre" placeholder="Fantasy" class="font-['Raleway'] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
  </div>
  <br> 
  <div class="relative w-96">
    <label for="image" class="font-['Raleway-bold'] block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image link</label>
    <input type="text" name="image" placeholder="Add image link" class="font-['Raleway'] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
  </div>
  <br> 
  <button type="submit" class="font-['Raleway-bold'] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none bg-[#a40e4c] hover:bg-[#eb146e] focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add</button>

  
</form>


 

    {{#if errorMessage}}
    <br>
    <br>

  <span>Error!</span> {{errorMessage}}
    {{/if}}

</form>