<br>
<h1 class="header">{{appTitle}}</h1>

<br><br>
<form  action="/result" method="GET">   
<div class="flex justify-center">
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative w-6/12"> 
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input type="search" id="search" name="q" class="font-['Raleway'] block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for a title, an author or a genre" required>
        <button type="submit" class="font-['Raleway bold'] text-white absolute right-2.5 bottom-2.5 bg-[#a40e4c] hover:bg-[#eb146e] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</div>
</form>

<br><br>
<h1 class="h1">Recommended for you</h1>


        {{#if errorMessage}}
    <br>
    <br>

  <span>Error!</span> {{errorMessage}}
  <br>
  <br>
    {{/if}}

<br> <br>

<div class="ml-6 grid grid-cols-5 gap-4">
{{#each reversed}}
    {{> card}}
{{/each}}
</div>


{{#if userInSession}}
<p class="body">Can't see what you are looking for? create it!</p>
<a href="/newbook">create a book</a>
{{else}}
<p class="body">Can't see what you are looking for? Log-in and create it!</p>
{{/if}}


