{{#if userInSession}}

  <h2 class="header">Welcome, {{ userInSession.username }}!</h2>


<div class="body">
  
  <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 rounded hover:bg-[#4e46b9] hover:font-semibold md:hover:bg-transparent md:border-0 md:hover:text-[#4e46b9] md:p-0 dark:text-gray-400 md:dark:hover:text-white">
    <li class="mr-2">
        <a href="#" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Added by me</a>
    </li>
{{!--     <li class="mr-2">
        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Manage my preferences</a>
    </li> --}}
    <li class="mr-2">
        <a href="/newbook" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Add a book</a>
    </li>
  
</ul>
  
<br>

{{else}}
  <p>You are not logged in!</p>
{{/if}}

<div class="flex items-center mr-4"></div>
  {{#each booksCreated}}
    {{> card}}
  {{/each}}