  <nav>
      <ul>
        <li id="to-left">
          <p><a href="/"> Users - demo </a></p>
        </li>
        {{#if userInSession}}
        <li id="to-right">
         <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
        </form>
        </li>
        <li id="to-right">
          <a href="/userProfile">User Profile</a>
        </li>
        {{else}}
        <li id="to-right">
          <a href="/signup">Signup</a>
        </li>
        <li id="to-right">
          <a href="/login">Login</a>
        </li>
        {{/if}}
      </ul>
    </nav>


{{#if userInSession}}

  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile!</p>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>

{{else}}
  <p>You are not logged in!</p>
{{/if}}